<footer class="footer">
  <div class="container footer__grid">
    <div class="footer__column footer__column--logo">
      <a class="logo footer__logo" routerLink="/">
        <img class="logo__image" src="assets/images/logo-2.svg" alt="Home decor">
      </a>
    </div>

    <nav class="footer__column footer__menu" aria-label="Меню">
      <h2 class="footer__title">МЕНЮ</h2>
      <a class="footer__link" routerLink="/">Главная</a>
      <a class="footer__link" routerLink="/catalog">Каталог</a>
      <a class="footer__link" routerLink="/" fragment="delivery">Доставка и оплата</a>
      <a class="footer__link" routerLink="/">Новости</a>
      <a class="footer__link" routerLink="/" fragment="reviews">Отзывы</a>
    </nav>

    <nav class="footer__column footer__categories" aria-label="Категории">
      <h2 class="footer__title">КАТЕГОРИИ</h2>
      <a class="footer__link" routerLink="/catalog">Кактусы</a>
      <a class="footer__link" routerLink="/catalog">Суккуленты</a>
      <a class="footer__link" routerLink="/catalog">Бонсаи</a>
      <a class="footer__link" routerLink="/catalog">Комнатные растения</a>
      <a class="footer__link" routerLink="/catalog">Флорариумы</a>
    </nav>

    <div class="footer__column footer__social">
      <h2 class="footer__title">МЫ В СОЦИАЛЬНЫХ СЕТЯХ</h2>
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a class="footer__social-link" href="#" aria-label="VK">
            <img class="footer__social-icon" src="assets/images/icon-vk.svg" width="24" height="24" alt="">
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link" href="#" aria-label="Facebook">
            <img class="footer__social-icon" src="assets/images/icon-facebook.svg" width="24" height="24" alt="">
          </a>
        </li>
        <li class="footer__social-item">
          <a class="footer__social-link" href="#" aria-label="Instagram">
            <img class="footer__social-icon" src="assets/images/icon-instagram.svg" width="24" height="24" alt="">
          </a>
        </li>
      </ul>
      <ul class="footer__payment-list" aria-label="Способы оплаты">
        <li class="footer__payment-item">
          <img class="footer__payment-icon" src="assets/images/payment-visa.svg" width="70" height="35" alt="Visa">
        </li>
        <li class="footer__payment-item">
          <img class="footer__payment-icon" src="assets/images/payment-mastercard.svg" width="70" height="35" alt="Mastercard">
        </li>
        <li class="footer__payment-item">
          <img class="footer__payment-icon" src="assets/images/payment-alfa.svg" width="70" height="35" alt="Alfa Bank">
        </li>
        <li class="footer__payment-item">
          <img class="footer__payment-icon" src="assets/images/payment-apple-pay.svg" width="70" height="35" alt="Apple Pay">
        </li>
        <li class="footer__payment-item">
          <img class="footer__payment-icon" src="assets/images/payment-samsung-pay.svg" width="70" height="35" alt="Samsung Pay">
        </li>
        <li class="footer__payment-item">
          <img class="footer__payment-icon" src="assets/images/payment-belkart.svg" width="70" height="35" alt="Belkart">
        </li>
      </ul>
    </div>

    <div class="footer__column footer__contacts">
      <h2 class="footer__title">КОНТАКТЫ</h2>
      <h3 class="footer__label">Адрес</h3>
      <p class="footer__text">г. Минск, ул. Калиновского 61, подъезд 1, офис 6</p>
      <h3 class="footer__label">Телефон</h3>
      <a class="footer__link" href="tel:+375299222999">+ 375 (29) 922-29-99</a>
      <h3 class="footer__label">E-mail</h3>
      <a class="footer__link" href="mailto:homedecor&#64;gmail.com">homedecor&#64;gmail.com</a>
    </div>
  </div>
</footer>
